* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  overflow: hidden;
  /* ALign items worked becouse i gave height to the body element, NOTE FOR MYSELF*/
}

.qr-card {
  background-color: white;
  border-radius: 15px;
  padding: 4%;
  text-align: center;
  width: 375px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
}

img {
  border-radius: 15px;
  height: 375px;
  width: 375px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}